<div class="interactables">
  <div class="draggable-container">
    <div class="draggable Tent1x1 cell-Tent1x1">Eet-tent</div>
    <div class="draggable Tent3x3 cell-Tent3x3">Feesttent</div>
    <div class="draggable Drinks cell-Drinks">Drankkraam</div>
    <div class="draggable HighTree cell-HighTree">hoge-boom</div>
    <div class="draggable WideTree cell-WideTree">Brede boom</div>
    <div class="draggable ShadowTree cell-ShadowTree">Schaduwboom</div>
    <div class="draggable Toilets cell-Toilets">toileten</div>
  </div>
  <button class="grid-reset">Reset</button>
  <button class="grid-lock">Lock Grid</button>
</div>
