body {
  color: rgb(29, 29, 29);
}

td {
  border: 1px solid black;
  width: 3.5em;
  height: 3.5em;
  text-align: center;
}

#draggable {
  border: 1px solid red;
  background-color: gray;
  width: 3.5em;
  height: 3.5em;
  text-align: center;
  user-select: none;
}

.selectable-cell {
  background-color: lightgreen;
}
.selected-cell {
  background-color: lightskyblue;
}