body {
  color: rgb(29, 29, 29);
}

td {
  border: 1px solid black;
  width: 3.5em;
  height: 3.5em;
  text-align: center;
}

.draggable-container {
  height: calc(3.5em*3);
  width: 100vw;
  display: flex;
}

.draggable {
  border: 1px solid red;
  background-color: gray;
  text-align: center;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Tent stylings */
.Tent1x1 {
  width: 3.5em;
  height: 3.5em;
}

.Tent3x3 {
  width: calc(3.5em*3);
  height: calc(3.5em*3);
}

.Drinks{
  width: calc(3.5em*2);
  height: calc(3.5em);
}

.HighTree{
  width: calc(3.5em);
  height: calc(3.5em);
}

.wideTree{
  width: calc(3.5em);
  height: calc(3.5em*2);
}

.ShadowTree{
  width: calc(3.5em*3);
  height: calc(3.5em*3);
}

.Toilets{
  width: calc(3.5em*3);
  height: calc(3.5em);
}

.selectable-cell {
  background-color: lightgreen;
}
.selected-cell {
  background-color: lightskyblue;
}
