body {
  color: rgb(29, 29, 29);
}

td {
  border: 1px solid black;
  width: 3.5em;
  height: 3.5em;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

form input,button {
  margin-top: 1em;
}

.draggable-container {
  height: calc(3.5em*3);
  width: 100vw;
  display: flex;
}

.draggable {
  border: 1px solid red;
  background-color: gray;
  text-align: center;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectable-cell {
  background-color: lightgreen;
}

.selected-cell {
  background-color: lightskyblue;
}

/* Tent stylings */
.Tent1x1 {
  width: 3.5em;
  height: 3.5em;
}

.cell-Tent1x1 {
  background-color: aquamarine;
}

.Tent3x3 {
  width: calc(3.5em*3);
  height: calc(3.5em*3);
}

.cell-Tent3x3 {
  background-color: chartreuse;
}

.Drinks{
  width: calc(3.5em*2);
  height: calc(3.5em);
}

.cell-Drinks {
  background-color: violet;
}

.HighTree{
  width: calc(3.5em);
  height: calc(3.5em);
}

.cell-HighTree {
  background-color: teal;
}

.wideTree{
  width: calc(3.5em);
  height: calc(3.5em*2);
}

.cell-wideTree {
  background-color: slategray;
}

.ShadowTree{
  width: calc(3.5em*3);
  height: calc(3.5em*3);
}

.cell-ShadowTree {
  background-color: skyblue;
}

.Toilets{
  width: calc(3.5em*3);
  height: calc(3.5em);
}

.cell-Toilets {
  background-color: blueviolet;
}
